html{
    margin: 0;
    font-family: Impact;
}
body{
    background-color: #22252C;
    box-sizing: border-box;
}

.main-layout{
   max-width: 1200px;
   margin: 0 auto;
}


/* HEADER */
.main-header {
    position: fixed;
    z-index: 1;
    top: 5px;
    height: 80px;
    width: 100%;
    border-radius: 40px;
    background: linear-gradient(to right,  #0F9BB2 0%,#1FAB93 50%,#1FAB93  50%,#29B480 100%);
    color: white;

}

.header-layout{
    max-width: 1100px;
    margin: 0 auto;

}
.header-container{
    width: 100%;
}


.logo{
    font-size: 27px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
}
/* NAVBAR */
.main-nav a:not(:last-child){

}

.main-nav a  {
    font-family:Arial, Helvetica, sans-serif;
    margin-right: 20px;
    font-size: 20px;
    color: gainsboro;
}

/* HELPERS */
.grid{
    display: grid;
}
.flex{
    display: flex;
}
.direction-column{
    flex-direction: column;

}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}
.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* SEARCH */

.sort{
    width: 30%;
    justify-content: space-between;
}
.sort h3{
    position: relative;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
 color: white;

}
.more-btn{
    background: linear-gradient(to right,  #0F9BB2 0%,#1FAB93 50%,#1FAB93  50%,#29B480 100%);
    font-size: 1.8em;
    border-radius: 20px;
    color: white;
    height: 50px;
    width: 100px;
    cursor: pointer;
    
    

}



/* GRID GALLERY */

img{
    width: 100%;
}

.grid-container{
    display: grid;
    margin-top: 70px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
} 
img{
    cursor: pointer;
}

.search-input{
    height: 50px;
    padding-left: 30px;
    font-size: 30px;
    border-radius: 20px;
    
}

.key-words-container h3{
    font-family: Arial, Helvetica, sans-serif;
 font-size: 1.5em;
}

.search-container{
    display: flex;
    /* justify-content: center; */
    gap: 40px;
    margin-top: 120px;
    width: 100%;
}
.key-words-container h3{
    color: white;
    margin-left: 20px;
}


/* MEME GENERATOR */

.meme-generator-container{
    overflow: hidden;
    visibility:hidden;
    position:fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    /* background-image: url('img/background.png'); */
    background: linear-gradient(to right, #151616, #556b64);

}

.main-content{
    align-items: center;
    gap: 40px;
}

/* MEME EDITOR */

#canvas{
    border-radius: 20px;
    cursor: grab;
}


  
.meme-editor{
    background-color: #22252C;
    border-radius: 20px;
    justify-content: space-between;
    height: 500px;
    width: 500px;
}
button{
    cursor: pointer;
    border: none;
}
.manage-btns button{
    margin-left: 20px;
    padding: 10px;
}

.manage-btns button:hover{
    background-color: rgba(255, 255, 255, 0);
}
.download-btn{
    width: 150px;
    background-color: #8F44BB;
    border-radius: 20px;
}
.change-line-btn{
    background-color: #3AAECC;
    border-radius: 10px;
}
.add-btn{
    border-radius: 10px;
    background-color: #3DD254;
}
.delete-btn{
    border-radius: 10px;
    border: none;
    background-color: #E53E36
}
.move-line-down{
    border-radius: 10px;
    border: none;
    background-color: #f8f1f0
}
.move-line-up{
    border-radius: 10px;
    border: none;
    background-color: #f8f1f0
}
.upload-btn{
    width: 150px;
    background-color: #1E7CD3;
    border-radius: 20px;
}

.save-btn{
    background-color: #1ed36f;
    width: 150px;
    border-radius: 20px;
    margin-right: 10px;
}
.download-btn{
    margin-left: 20px;
}

.download-upload{
    justify-content: flex-start;
    gap: 20px;
    height: 40px;
    margin-bottom: 20px;
    width: 100%;
}
.download-upload a {
    margin: 0 auto;
    color: white;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}


 .editors button{
  border-radius: 20px;
  padding: 0.35em 1.2em;
  border: 1px solid #000000;
  margin: 0 0.3em 0.3em 0;
  text-decoration: none;
  height: 40px;
  color: #fcfcfc;
  text-align: center;
  transition: all 0.2s;
  box-shadow: 8px 4px 21px -1px #000000;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.37);
}


button:hover{
    color: #000000;
  background-color: #aae7ff;
  box-shadow: 8px 4px 21px -1px #838282;
  cursor: pointer;
  transform: scale(1.1);
}



#text-size{
    position: absolute;
    width: 90%;
    bottom: 10px;
    left: 0px;
     font-size: 18px;
     border-radius: 20px;
     text-align: center;
}
.font-input{
    position: absolute;
    text-align: center;
    font-size: 20px;
    width: 50%;
    left: 5px;
    border-radius: 20px;
}



 #text-input{
     margin-top: 30px;
     font-size: 30px;
     border-radius: 20px;
     text-align: center;
 }


.editors{
    display: grid;
    position: relative;
    width: 70%;
    padding: 10px;
    text-align: center;
       grid-template-columns:  repeat(5,60px);
       grid-template-rows:repeat(2,60px) ;
       background-color: #1EAA95;
       border-radius: 20px;
       gap: 8px;
}

.item-1{
    grid-column:1;
    grid-row:1
}
.item-2{
    grid-column:2;
    grid-row:1
}
.item-3{
    grid-column:3;
    grid-row:1
}
.item-4{
    grid-column:4;
    grid-row:2
}
.item-5{
    grid-column:5;
    grid-row:2
}
.item-6{
    grid-column:1 / span 3;
    grid-row:2;
} 
.item-7{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    
    height: 40%;
    grid-column:3 / 4;
    grid-row:2;
}

.item-8{
    grid-column: 4 / 5;
    grid-row:2;
}
.item-9{
    grid-column: 5;
    grid-row:2;
}


.color-container input{
   opacity: 0;

}

/* STICKERS */
.stickers-container{
    width: 90%;
    background-color: rgb(75, 75, 75);
    border-radius: 20px;
    gap: 20px;
    justify-content: center;
}
.stickers-container input{
    height: 60px;
}

.main-screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000075;
    cursor: pointer;
    visibility: hidden;
    z-index: 0;
}

body.menu-open .main-screen{
    visibility: visible;
    z-index: 1;


}

.btn-menu{
    border-radius: 20px;
    padding: 0.35em 1.2em;
    border: none;
    font-size: 15px;
    margin-right: 50px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    color: #fcfcfc;
    transition: all 0.2s;
    box-shadow: 8px 4px 21px -1px #000000;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
      0px -5px 35px rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.37);
}
.btn-menu:hover{
    background-color: rgb(163, 255, 232);
}

.key-words-container h3{
    cursor: pointer;
}

/* DESKTOP */
@media(min-width: 700px){
    .btn-menu{
        display: none;
    }
}


/* MOBILE */

@media(max-width: 600px){
  
    .main-header{
        height: 70px;
        max-width: 97%;
    }

    .key-words-container{
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .key-words-container h3{
        margin: 0;
    }
    .grid-container{
       margin: 0;
    }
   
    .meme-generator-container{
        position: fixed;
        height: 100%;
        overflow-x: hidden;
    }
    .main-content{
        gap: 0px;
        margin-top: 100px;
    }

    .editors{
        gap: 10px;
        width: 70vw;
        grid-template-columns: repeat(4,50px);
        grid-template-rows: repeat(3,40px);
        
    }
    .item-1{
        grid-column: 1;
        grid-row: 2;

    }
    .item-2{
        grid-column: 2;
        grid-row: 2;

    }
    .item-3{
        grid-column: 3;
        grid-row: 2;
    }
    .item-4{
        grid-column: 2;
        grid-row: 2;
    }
    .item-5{
        grid-column:1/ 3;
        grid-row: 2;
    }
    .item-6{
        grid-column: 1 / span 2;
        grid-row: 2;
    }
    .item-8{
        grid-column: 3;
        grid-row: 1;
    }
    .item-9{
        grid-column: 4;
        grid-row: 1;
    }
    .item-10{
        grid-column: 4;
        grid-row: 3;
    }
    
    #text-input{
        font-size: 20px;
        width: 80%;
    }
    .editors button{
        height: 4vh;
    }
   
    .meme-editor > *{
        margin-bottom: 10px;
        
    }
    .stickers-container input{
        height: 30px;
    }
    .meme-editor{
        max-width: 300px;
        justify-content: flex-start;
    }

    .download-upload  {
        gap: 3px;
    }
    .download-upload a{
        font-size: 15px;
    }



    .meme-editor{
        height: 400px;
        width: 400px;
        
    }
    .main-meme-editor{
        flex-direction: column;
    }
    
    #canvas{
        height: 300px;
        width: 300px;
    }
    
    .logo{
        padding: 20px;
        margin-left: 20px;
    }

.search-container{
    flex-direction: column;
}

.main-nav{
    position: fixed;
    display: flex;
    right: 0;
    top: 0;
    height: 100vh;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.726);
    width: 200px;
    border-inline-start: 1px rgb(165, 164, 164) solid;
    transform: translateX(100%);
    transition: transform .6s;
    z-index: 1000;

}



body.menu-open .main-nav{
    transform: translateX(0%);
    box-shadow: -2px -2px 20px rgb(255, 255, 255, 0.7);
    
}

.main-nav a {
    display: block;
    padding: 10px 16px;
    border-bottom: 1px solid rgba(14, 14, 14, 0.233);
    margin: 0;
    color: black;
    transition: background .3;

}
.main-nav a:hover{
    background-color: #efefef;
}
}


/* MY MEME AREA */
.my-meme-container{
    visibility: hidden;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to right,  #1e352d 0%,#1FAB93 50%,#1FAB93  50%,#61ffc5 100%);
}

.my-meme-container h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #ecf0f1;
    text-align: center;
    font-size: 4em;
    letter-spacing: 2px;
    text-shadow: 0 0 10px #FFFFFF, -1px -14px 9px rgba(64,206,181,0.39);
}

.my-meme-container .escape{
    position: absolute;
    background-color: rgb(195, 255, 227);
    font-size: 30px;
    color: rgb(173, 173, 173);
    height: 50px;
    width: 50px;
    /* padding: 15px; */
    border-radius: 50%;
    right: 5px;
    top: 5px;
}
.my-meme-container .escape:hover{
    color: black;
}


.meme-container{
    display: grid;
    margin: 0 auto;
    max-width: 900px;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}
.meme-container img{
    max-width: 400px;
}


/* ABOUT */
.about{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
   display: none;
}

.about-content{
overflow:hidden;
position: relative;

display: flex;
align-items: center;
justify-content: center;
flex-flow: column;

height: 100vh;

background: linear-gradient(to right, rgba(36,31,31,1) 0%, rgba(36,31,31,1) 32%, rgba(74,71,70,1) 100%);
color: #fff;
text-align: center;
}

.vignette{
position:absolute;
width:100%; height:100%;
box-shadow:inset 0px 0px 150px 20px black;
mix-blend-mode: multiply;
-webkit-animation: vignette-anim 3s infinite; /* Safari 4+ */
-moz-animation:    vignette-anim 3s infinite; /* Fx 5+ */
-o-animation:      vignette-anim 3s infinite; /* Opera 12+ */
animation:         vignette-anim 3s infinite; /* IE 10+, Fx 29+ */
}

.noise {
z-index: 100;
position: absolute;
top: 0;
left: 0;

width: 100%;
height: 100%;

pointer-events: none;
opacity: .15;
}

.line{
position:absolute;
height:100%;
 width:1px;
opacity:0.1;
background-color:#000;
}

.titleCont{
    position:relative;
    margin-top: 80px;
    width: 70vw;
    text-align: center;
  
}

.about-title {
/* padding: .3em 1em .25em;     */
font-weight: 400;
font-size: 60px;
color: white;
font-family: 'Bellefair', serif;
position:relative;
line-height:1;
text-align: center;

}

.overTitle{
position:absolute;
top:0;
left:0;
}

.dot{
width:3px;
height:2px;
background-color:white;
position:absolute;
opacity:0.3;
}

.about img{
    position: absolute;
    right: 10vw;
    top: 30vh;
    width: 500px;
}

.fade-in {
	-webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 9s both;
	        animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 9s both;
}

 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  


@-webkit-keyframes vignette-anim {
0%   , 100%{ opacity: 1; }
50% { opacity: 0.7; }
}
@-moz-keyframes vignette-anim {
0%   , 100%{ opacity: 1; }
50% { opacity: 0.7; }
}
@-o-keyframes vignette-anim {
0%   , 100%{ opacity: 1; }
50% { opacity: 0.7; }
}
@keyframes vignette-anim {
0%   , 100%{ opacity: 1; }
50% { opacity: 0.7; }
}




  .css-typing h1 {
    /* font-family: "Courier";
    font-size: 14px; */
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
  }
  .css-typing h1:nth-child(1) {
    width: 7.3em;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .css-typing h1:nth-child(2) {
    width: 11.5em;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 2s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .css-typing h1:nth-child(3) {
    width: 11.5em;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 2s steps(40, end);
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .css-typing h1:nth-child(4) {
    width: 11.3em;
    opacity: 0;
    -webkit-animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
    animation: type3 2s steps(50, end), blink .2s step-end infinite alternate;
    -webkit-animation-delay:5s;
    animation-delay: 5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .css-typing h1:nth-child(5) {
    width: 11.3em;
    opacity: 0;
    color: rgb(75, 74, 74);
    -webkit-animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
    animation: type3 2s steps(50, end), blink .2s step-end infinite alternate;
    -webkit-animation-delay:7.5s;
    animation-delay: 7.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }


  
 