html{
    margin: 0;
    font-family: Impact;
}
body{
    background-color: #22252C;
    box-sizing: border-box;
}

.main-layout{
   max-width: 1200px;
   margin: 0 auto;
}

/* HEADER */
.main-header {
    top: 5px;
    height: 80px;
    width: 100%;
    border-radius: 40px;
    background: linear-gradient(to right,  #0F9BB2 0%,#1FAB93 50%,#1FAB93  50%,#29B480 100%);
    color: white;

}

.header-layout{
    max-width: 1100px;
    margin: 0 auto;

}
.header-container{
    width: 100%;
}

.logo{
    font-size: 27px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
/* NAVBAR */

.main-nav a {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 20px;
    color: gainsboro;
}

/* HELPERS */
.grid{
    display: grid;
}
.flex{
    display: flex;
}
.direction-column{
    flex-direction: column;

}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}
.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* SEARCH */
.search-container{
    justify-content: center;
    gap: 40px;
}
.sort{
    width: 30%;
    justify-content: space-between;
}
.sort h3{
    position: relative;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
 color: white;

}
.more-btn{
    background: linear-gradient(to right,  #0F9BB2 0%,#1FAB93 50%,#1FAB93  50%,#29B480 100%);
    font-size: 1.8em;
    border-radius: 20px;
    color: white;
    height: 50px;
    width: 100px;
    cursor: pointer;
    
    

}

.search-input{
    color: linear-gradient(to right,  #0F9BB2 0%,#1FAB93 50%,#1FAB93  50%,#29B480 100%);
    list-style: none;
    font-size: 30px;
    border-radius: 20px;
    
}


/* GRID GALLERY */

img{
    width: 100%;
}

.grid-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
}


/* MEME GENERATOR */
.header-2{
    position: absolute;
    top: 5px;
    width: 100%;
}

.meme-generator-container{
    overflow: hidden;
    visibility:hidden;
    position:absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: black

}

.main-content{
    align-items: center;
    gap: 40px;
}

/* MEME EDITOR */

#canvas{
    border-radius: 20px;
}

  
.meme-editor{
    background-color: #22252C;
    border-radius: 20px;
    justify-content: space-between;
    height: 500px;
    width: 500px;
}
button{
    cursor: pointer;
    border: none;
}
.download-btn{
    height: 40px;
    margin-right: 20px;
    width: 150px;
    background-color: #8F44BB;
    border-radius: 20px;
}
.change-line-btn{
    background-color: #3AAECC;
    border-radius: 10px;
}
.add-btn{
    border-radius: 10px;
    background-color: #3DD254;
}
.delete-btn{
    border-radius: 10px;
    border: none;
    background-color: #E53E36
}
.move-line-down{
    border-radius: 10px;
    border: none;
    background-color: #f8f1f0
}
.move-line-up{
    border-radius: 10px;
    border: none;
    background-color: #f8f1f0
}
.upload-btn{
    height: 40px;
    width: 150px;
    width: 214;
    background-color: #1E7CD3;
    border-radius: 20px;
}
.download-upload{
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}
.download-upload a {
    margin: 0 auto;
    color: white;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}


 .editors button{
  border-radius: 20px;
  padding: 0.35em 1.2em;
  border: 1px solid #000000;
  margin: 0 0.3em 0.3em 0;
  text-decoration: none;
  height: 40px;
  color: #fcfcfc;
  text-align: center;
  transition: all 0.2s;
  box-shadow: 8px 4px 21px -1px #000000;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.37);
}
.editors button:hover{
    color: #000000;
  background-color: #aae7ff;
  box-shadow: 8px 4px 21px -1px #838282;
  cursor: pointer;
  transform: scale(1.1);
}
#text-size{
    position: absolute;
    width: 50%;
    bottom: 10px;
    left: 10px;
     font-size: 30px;
     border-radius: 20px;
     text-align: center;
}
 #text-input{
     margin-top: 30px;
     font-size: 30px;
     border-radius: 20px;
     text-align: center;
 }


.editors{
    display: grid;
    position: relative;
    width: 70%;
    text-align: center;
       grid-template-columns:  repeat(5,60px);
       grid-template-rows:repeat(2,60px) ;
       background-color: #1EAA95;
       border-radius: 20px;
       gap: 8px;
}

.item-1{
    grid-column:1;
    grid-row:1
}
.item-2{
    grid-column:2;
    grid-row:1
}
.item-3{
    grid-column:3;
    grid-row:1
}
.item-4{
    grid-column:4;
    grid-row:2
}
.item-5{
    grid-column:5;
    grid-row:2
}
.item-6{

    grid-column:1 / span 3;
    grid-row:2;
} 
.item-7{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    
    height: 40%;
    grid-column:3 / 4;
    grid-row:2;
}

/* STICKERS */
.stickers-container{
    width: 50%;
    background-color: gainsboro;
    border-radius: 20px;
    gap: 20px;
    justify-content: center;
}



